<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itlike.mapper.TargetProductMapper" >
  <resultMap id="BaseResultMap" type="com.itlike.domain.TargetProduct" >
    <id column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="prouductType" property="prouducttype" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from target_product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.itlike.domain.TargetProduct" >
    insert into target_product (product_id, product_name, prouductType
      )
    values (#{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{prouducttype,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.itlike.domain.TargetProduct" >
    update target_product
    set product_name = #{productName,jdbcType=VARCHAR},
      prouductType = #{prouducttype,jdbcType=VARCHAR}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select product_id, product_name, prouductType
    from target_product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select product_id, product_name, prouductType
    from target_product
  </select>
</mapper>