<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itlike.mapper.SubscriptionconfigMapper" >
  <resultMap id="BaseResultMap" type="com.itlike.domain.Subscriptionconfig" >
    <id column="actionId" property="actionid" jdbcType="INTEGER" />
    <id column="userId" property="userid" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from subscriptionconfig
    where actionId = #{actionid,jdbcType=INTEGER}
      and userId = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.itlike.domain.Subscriptionconfig" >
    insert into subscriptionconfig (actionId, userId)
    values (#{actionid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select actionId, userId
    from subscriptionconfig
  </select>
</mapper>